<div
  class="m-2 transition-all duration-200 transform border border-gray-400 rounded-lg cursor-pointer card hover:shadow-md hover:border-opacity-0 hover:-translate-y-1"
>
  <div class="m-3">
    <h3 class="mb-2 underline text-md text-decoration-line:">
      {{ country.name.common }}
      <span
        class="inline float-right px-2 font-mono text-sm text-teal-800 align-top bg-teal-100 rounded-full animate-pulse"
        >population: {{ country.population }}</span
      >
    </h3>
    <p
      class="font-mono text-sm font-light text-gray-700 transition-all duration-200 hover:text-gray-900"
    >
      Region: <span class="italic font-style:">{{ country.region }}</span
      ><br />
      Capital:
      <span class="italic font-style:">{{ country.capital }}</span
      ><br />
    </p>
  </div>
</div>
