<input
  #searchCountryInput
  type="text"
  placeholder="Search for a country..."
  class="input input-bordered w-full max-w-xs px-12"
  (input)="onSearch(searchCountryInput.value)"
/>

<select
  id="regionSelector"
  class="select select-bordered w-full max-w-xs md:ml-0 ml-4 my-2"
  (input)="onSelectRegion($event)"
>
  <option *ngFor="let region of regions" [value]="region">
    {{ region }}
  </option>
</select>

<section class="flex flex-wrap gap-16 gap-y-16 justify-center md:mt-12 mt-4">
  <app-country-card
    *ngFor="let country of countriesFiltered()"
    [country]="country"
    [routerLink]="['/countries', country.cca2]"
  >
  </app-country-card>
</section>
